<div class="container">
  <header>
    <mat-toolbar color="primary">
      <img routerLink="/" class="logo" src="/assets/logo.svg" alt="logo" />
      <button mat-button [matMenuTriggerFor]="usersMenu">Users</button>
      <mat-menu #usersMenu="matMenu">
        <button mat-menu-item routerLink="/advisors">Advisors</button>
        <button mat-menu-item routerLink="/clients">Clients</button>
      </mat-menu>
      <button mat-button routerLink="/leads">Leads</button>
      <button mat-button routerLink="/model_portfolios">Model Portfolios</button>
      <button mat-button routerLink="/securities">Securities</button>
      <button mat-button routerLink="/organizations">Organizations</button>
      <button mat-button [matMenuTriggerFor]="menu">Integrations</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/integrations">List of Integrations</button>
        <button mat-menu-item routerLink="/schwab_upload">Schwab Uploader</button>
      </mat-menu>
      <button mat-button routerLink="/password_resets">Password Rests</button>
      <button mat-button routerLink="/sso">Sso</button>
      <button mat-button [matMenuTriggerFor]="developerMenu">Developer</button>
      <mat-menu #developerMenu="matMenu">
        <button mat-menu-item routerLink="/failed_queued_jobs">Failed Queued Jobs</button>
        <button mat-menu-item routerLink="/integration_sync_events">Integration Sync Events</button>
      </mat-menu>
    </mat-toolbar>
  </header>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</div>

